DATABASE_URL=postgresql://lexcam:lexcam_dev@localhost:5432/lexcam_users
REDIS_URL=redis://localhost:6379/0
RABBITMQ_URL=amqp://lexcam:lexcam_dev@localhost:5672/
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30
OTP_EXPIRE_MINUTES=10
DEBUG=True
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
ALLOWED_HOSTS=localhost,127.0.0.1
SECURE_SSL_REDIRECT=False
